/* standard elements */
a
{
    color: #00a3cc;
    text-decoration: none;
    font-weight: 600;
}

a:hover
{
    text-decoration: none;
    color: #00ccff;
}

b
{
  font-weight: 600;
}

body
{
    background-color:#D8D8D8;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #000000;
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    font-weight: normal;
    background-color: #eee;
    font-size: 1em;
}

h1
{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 2em;
    padding: 0.2em;
    margin: 0em;
    text-align: center;
}

h2
{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    padding: 0.2em;
    margin: 0em;
    text-align: left;
}

iframe {
  margin: 0.5em;
}

/* Break up into pages/sections. Style taken from
https://github.com/delight-im/HTML-Sheets-of-Paper */
.page {
  /* Styles for better appearance on screens only -- are reset to defaults in print styles later */

  /* Divide single pages with some space and center all pages horizontally */
  /*margin: 10em auto; */
  /* Define a white paper background that sticks out from the darker overall background */
  background: #fff;
  /* Show a drop shadow beneath each page */
  box-shadow: 0 4px 5px rgba(75, 75, 75, 0.2);

  /* More specific settings. */
  text-align: left;
  width: 900px;
  max-width: 90%;
  margin: 1em auto 1em auto;
  padding: 1em 2em 1em 2em;
}

.intro {
  display: table;
  width: 100%;
  max-width: 100%;
  font-size: 1em;
}

.portrait {
  display:table-cell;
  vertical-align: top;
  margin-right: 2em;
  padding: 1em 2em 1em 0em;
  max-width: 50%;
  width: 300px;
  overflow: hidden;
}

.portrait img {
  /*float: left; */
  width: auto;
  max-width: 100%;
  min-width: 100px;
  overflow: hidden;
}

.intro_text {
    display:table-cell;
  vertical-align: top;
}

.pub_list {
  margin-left: 5%;
}

/* Content - Everything in the now white box. */
.content
{
    /*background-color: #FFFFFF;
    border: 2px solid #cccccc;
    margin: 0px auto 20px auto;
    padding: 10px 20px 10px 20px; */
    font-size: 1em;
    overflow: auto;
}

.content hr
{
    border: 0px;
    height: 2px;
    width: 100%;
    background: #AAA;
}
.content p
{
    margin-top: 0px;
}

/* Project tag. */
.project
{
    clear: both;
    padding-bottom: 20px;
    overflow: hidden;
}

.project-left
{
    clear: both;
    padding-bottom: 20px;
    overflow: hidden;
}

.project-left img
{
    float: left;
    /* TRBL */
    margin: 5px 20px 5px 5px;
    min-width: 150px;
}

.project-right
{
    clear: both;
    padding-bottom: 20px;
    overflow: hidden;
}

.project-right img
{
    float: right;
    margin: 5px 5px 5px 20px;
}

.title
{
    font-weight: 600;
}

.project p
{
    padding-top: 0.5em;
}

.title_row
{
    padding-bottom: 0.5em;
    margin-bottom: 0;
}

/* Footer */
.footer
{
    margin: 5px auto 5px auto;
    text-align: center;
    font-size: 1em;
    color: #666666;
}
