/* standard elements */
a
{
    color: #3300FF;
    text-decoration: none;
    /*font-weight: 600; */
}

a:hover
{
    text-decoration: none;
    color: #9999EB;
}

body
{
    background-color:#D8D8D8;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    font-weight: normal;
}

/* Header */
.header
{
    /* font-size: 52px; */
    text-align: center;
    width: 900px;
    max-width: 100%;
    /* margin: 20px; */
    padding: 0px 18px 0px 18px;
    margin: 0px auto 0px auto;
    background-color: #FFFFFF;
    border-bottom: 6px double #606060;
    border-left: 2px solid #909090;
    border-right: 2px solid #909090;
    -webkit-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.15);
    -moz-box-shadow:0px 0px 20px 5px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.15);
}

.header h1
{
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    padding: 10px;
    margin: 0px;
    text-align: center;
}


/* Main - Everything after the header. */
.main
{
    /*margin: 0px auto 20px auto; */
    /*padding: 20px;*/
    text-align: left;
    width: 900px;
    max-width: 100%;

    background-color: #FFFFFF;
    border: 2px solid #cccccc;
    margin: 0px auto 20px auto;
    padding: 10px 20px 10px 20px;
    font-size: 16pt;
    overflow: auto;

    -webkit-box-shadow: 0px 10px 20px 5px rgba(0,0,0,0.15);
    -moz-box-shadow:0px 10px 20px 5px rgba(0,0,0,0.15);
    box-shadow: 0px 10px 20px 5px rgba(0,0,0,0.15);

    z-index: -10;
}

.main h1
{
    font-family: 'Raleway', sans-serif;
    /*padding: 0px;
    padding-bottom: 10px;
    padding-left: 20px;
    margin: 0px; */
    font-size: 32pt;
    font-weight: lighter;
    text-align: center;
    margin: 0.2em auto 0.2em auto;
}

.main h2
{
    font-family: 'Raleway', sans-serif;
    margin: auto;
    /* padding: 0px;
    margin: 0px; */
    font-size: 18pt;
    font-weight: normal;
    text-align: center;
}

.main img
{
    /* border: 2px solid #000000; */
    float: left;
    /* display: block; */
    margin-right: 20px;

}

/* Content - Everything in the now white box. */
.content
{
    /*background-color: #FFFFFF;
    border: 2px solid #cccccc;
    margin: 0px auto 20px auto;
    padding: 10px 20px 10px 20px; */
    font-size: 12pt;
    overflow: auto;
}

.content hr
{
    border: 0px;
    height: 2px;
    width: 100%;
    background: #AAA;
}


.intro
{
    font-size: 14pt;
}

/* .content a
{
    color: #ccffff;
}

.content a:hover
{
    text-decoration: none;
    color: #00ccff
} */

.content p
{
    margin-top: 0px;
}

/* Project tag. */
.project
{
    clear: both;
    padding-bottom: 20px;
    overflow: hidden;
}

.project-left
{
    clear: both;
    padding-bottom: 20px;
    overflow: hidden;
}

.project-left img
{
    float: left;
    /* TRBL */
    margin: 5px 20px 5px 5px;
    min-width: 150px;
}

.project-right
{
    clear: both;
    padding-bottom: 20px;
    overflow: hidden;
}

.project-right img
{
    float: right;
    margin: 5px 5px 5px 20px;
}

.title
{
    font-weight: 600;
}

.project p
{
    padding-top: 0.5em;
}

.title_row
{
    padding-bottom: 0.5em;
    margin-bottom: 0;
}

/* Footer */
.footer
{
    margin: 5px auto 5px auto;
    text-align: center;
    font-size: 12px;
    color: #666666;
}